*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.container h1{
    margin:20px opx;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
   

}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;


}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.5s;

}
.card:hover img{
    filter: grayscale(0%);

}

.card figcaption{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 25px;
    width: 100px;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 0;
    border-radius: 0px 0px 10px 30px;
    

}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}
